;; ctim-schema-version:   => major.minor.schema
;; maven release version  => major.minor.schema.release
;; maven snapshot version => major.minor.schema.dev-SNAPSHOT
{:major 1 :minor 3 :schema 27 :release 1 :dev 2}
